[project]
name = "chatexport-2026-01-02"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "bs4>=0.0.2",
    "matplotlib>=3.10.8",
]
